.root {
    -fx-background-color: white;
}

.result-button {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-border-color: transparent, black;
    -fx-background-color: #ffe34c;
}

#display_box > .viewport {
   -fx-background-color: #fff7cc;
}

#display_box {
   -fx-background-color: #eeeeee;
}

.text-area .content, .text-field {
    -fx-background-color: #fff7cc;
}


